<div class="list-wrap">
  <% @lists.each do |list| %>
    <div class="list-box"> <!--relative-->
      <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg' %>
      <div class="list-comment"> <!-- absolute -->
        <span class="list-body"><%= list.body %></span>
        <span class="list-title"><%=link_to list.title, todolist_path(list.id) %></span>
      </div>
    </div>
  <% end %>
</div>

<!--<基準>-->
<!--width 親要素-->
<!--height 子要素の合計値-->

<!--positionプロパティは親要素に「relative」-->
<!--子要素に「absolute」を指定することで-->
<!--子要素の位置を親要素の範囲内で指定できるようになります。-->
